<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.springbootboard.board.BoardMapper">
    <insert id="insBoard">
        INSERT INTO t_board
            ( icategory, iuser, title, ctnt )
        VALUES
            ( ${icategory}, ${iuser}, #{title}, #{ctnt} )
    </insert>

    <select id="selBoardList" resultType="BoardVo">
       SELECT   A.iboard, A.title, A.iuser, A.hits, A.rdt
              , B.nm AS username
         FROM t_board A
         LEFT JOIN t_user B
           ON A.iuser = B.iuser
        WHERE A.isdel = 0
          AND A.icategory = ${icategory}
        ORDER BY A.iboard DESC
        LIMIT ${startIdx}, ${recordCount}
    </select>

    <select id="selBoard" resultType="BoardVo">
        SELECT   A.iboard, A.icategory, A.title, A.ctnt, A.iuser, A.hits, A.rdt
               , B.nm AS username
          FROM t_board A
          LEFT JOIN t_user B
            ON A.iuser = B.iuser
         WHERE A.isdel = 0
           AND A.iboard = ${iboard}
    </select>

    <select id="selMaxPageVal" resultType="ResultVo">
        SELECT CEIL(COUNT(iboard) / ${recordCount}) AS result
          FROM t_board
         WHERE isdel = 0
           AND icategory = ${icategory}
    </select>
</mapper>