<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <!-- AT{} 는 Standard URL 이라고 한다. -->
    <script defer th:src="@{/js/user/login.js}"></script>
</head>

<th:block layout:fragment="content">
    <div class="container">
    <h1>로그인</h1>
        <div th:if="${param.error}" class="alert alert-denger" role="alert">
            Invalid id and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-primary" role="alert">
            You have been logged out.
        </div>
        <form novalidate id="login_frm" class="validation-form" method="post" th:action="@{/user/login}" th:object="${userEntity}">
            <div class="form-floating mb-3">
                <input required type="text" class="form-control" placeholder="User Id" th:field="*{uid}">
                <label for="uid">아이디</label>
                <div class="invalid-feedback">아이디를 입력해 주세요.</div>
            </div>
            <div class="form-floating mb-3">
                <input required type="password" class="form-control" placeholder="User Password" th:field="*{upw}">
                <label for="upw">비밀번호</label>
                <div class="invalid-feedback">비밀번호를 입력해 주세요.</div>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
        </form>
    </div>
</th:block>