<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title></title>
    <script defer th:src="@{/js/board/detail.js}"></script>
</head>

<th:block layout:fragment="content">
    <div id="board_detail"></div>

    <div id="comment_form_container" class="mt-3" th:if="${session.loginUser != null}">
        <div class="row">
            <div class="col">
                <input type="text" name="ctnt" class="form-control" placeholder="Comment...">
            </div>
            <div class="col">
                <button type="button" name="comment_submit" class="btn btn-primary">댓글 달기</button>
            </div>
        </div>
    </div>

    <div id="comment_list">
        <table class="table table-hover caption-top">
            <caption>댓글 리스트</caption>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>내용</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</th:block>