<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>리스트</title>
    <script defer th:src="@{/js/board/list.js}"></script>
</head>

<th:block layout:fragment="content">
    <!-- param은 th:text, th:with을 제외하고는 바로 접근이 안 되는 것 같음 -->
    <div id="data" th:with="icate=${param.icategory}" th:data-icategory="${icate}"></div>
    <div id="board_list">
        <table class="table table-hover caption-top">
            <th:block th:each="item : ${@menus}">
                <caption th:if="${#strings.equals(param.icategory, #strings.toString(item.icategory))}"
                         th:text="${item.nm}"></caption>
            </th:block>
            <thead>
            <tr class="table-secondary">
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>조회수</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/board/write(icategory=${param.icategory})}"><button class="btn btn-primary" type="submit">글쓰기</button></a>
    </div>
    <div id="page_container">
        <nav>
            <ul class="pagination justify-content-center"></ul>
        </nav>
    </div>

</th:block>