<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>글쓰기</title>
</head>

<th:block layout:fragment="content">
    <div class="container">
        <h1>글쓰기</h1>
        <div>
            <form method="post" th:action="@{/board/write}" th:object="${entity}">
                <input type="text" th:field="*{icategory}">
                <div class="form-floating mb-3">
                    <input required type="text" class="form-control" placeholder="title" th:field="*{title}">
                    <label class="form-label" for="title">타이틀</label>
                </div>

                <div class="mb-3">
                    <label for="ctnt" class="form-label">내용</label>
                    <textarea class="form-control" th:field="*{ctnt}" rows="3"></textarea>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">저장</button>
                </div>
            </form>
        </div>
    </div>
</th:block>